# ************************** WARNING CACTILIZE ANSIBLE PLAYBOOK ********************************
# File Managed by Ansible
# Any changes to this file configuration should be done trough ansible
# other wise configuration will be overwriten on te next ansible cactilize deploy pass.
# **********************************************************************************************

Alias /cacti {{ cacti_root_dir }}

<Directory {{ cacti_root_dir }}>
        AddType application/x-httpd-php .php
        AllowOverride None
        Options -Indexes FollowSymLinks MultiViews
        Order deny,allow
        Deny from all
        AuthName "Provide credentials"
        AuthUserFile /etc/apache2/.htpass_cacti
        AuthType Basic
        Require valid-user
        Allow from {{ DEFAULT_IP }} {{ WHITELIST }}
        Satisfy Any

        <IfModule mod_php5.c>
                php_flag magic_quotes_gpc Off
                php_flag short_open_tag On
                php_flag register_globals Off
                php_flag register_argc_argv On
                php_flag track_vars On
                php_value mbstring.func_overload 0
                php_value include_path .
        </IfModule>

        DirectoryIndex index.php
</Directory>

<Directory ~ "{{ cacti_root_dir }}/(rra|scripts|site/scripts|cli|\.boto|\.ssh|.*\.cnf)">
     <IfModule mod_rewrite.c>
             Redirect 404 /
     </IfModule>
     <IfModule !mod_rewrite.c>
             <IfModule mod_authz_core.c>
                     Require all denied
             </IfModule>
             <IfModule !mod_authz_core.c>
                     Order deny,allow
                     Deny from all
             </IfModule>
     </IfModule>
</Directory>
