-- ************************** WARNING CACTILIZE ANSIBLE PLAYBOOK ********************************
-- File Managed by Ansible
-- Any changes to this report file  should be done trough ansible
-- other wise report will be overwriten on te next ansible cactilize deploy pass.
-- ***********************************************************************************************

  /$$$$$$                        /$$     /$$ /$$ /$$
 /$$__  $$                      | $$    |__/| $$|__/
| $$  \__/  /$$$$$$   /$$$$$$$ /$$$$$$   /$$| $$ /$$ /$$$$$$$$  /$$$$$$
| $$       |____  $$ /$$_____/|_  $$_/  | $$| $$| $$|____ /$$/ /$$__  $$
| $$        /$$$$$$$| $$        | $$    | $$| $$| $$   /$$$$/ | $$$$$$$$
| $$    $$ /$$__  $$| $$        | $$ /$$| $$| $$| $$  /$$__/  | $$_____/
|  $$$$$$/|  $$$$$$$|  $$$$$$$  |  $$$$/| $$| $$| $$ /$$$$$$$$|  $$$$$$$
 \______/  \_______/ \_______/   \___/  |__/|__/|__/|________/ \_______/


[ACCESS]
   URL   => http://IP_PUB/cacti , https://IP_PUB/cacti (according your server and archi configuration, If you use Keepalived LVS , HAproxy or other solution for mapping NAT please ensure you have a good port in your URL )

- WebUI

[ CACTI AUTH ]
    Administrator:
       USERNAME   => {{ webui_admin_user }}
       HTPASSWORD => {{ htpassword_admin }}
       PASSWORD   => {{ webui_admin_password }}

{% for (key, value) in Users.iteritems() %}
    {{ item.value.full_name }}:
       USERNAME   => {{ item.key }}
       HTPASSWORD => {{ item.value.htpassword }}
       PASSWORD   => {{ item.value.password }}

{% endfor %}

/!\ Please for your nginx server, put this line in your default virtual host:

include /etc/nginx/conf.d/status.conf ;

And reload nginx:

nginx -t && service nginx reload

Enjoy !
